* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: blue;
}
img {
  width: 90%;
  max-width: 300px;
}
.pet-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: lemonchiffon;
  padding: 1rem;
}
.pet-card {
  display: flex;
  gap: 1rem;
}

.pets {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
.pets img {
  flex-grow: 1;
}

.pets li {
  list-style: none;
  text-decoration: underline;
}
